* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(236, 235, 238, 0.74);
}

.container {
    width: 1200px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Alinear imagen al centro */
header img {
    width: 100px;
    display: block;
    margin: auto;
}

/* Estilos para el navegador */
nav {
    width: 100%;
    border-top: 1px;
    border-bottom: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px 26px;
    font-size: large;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    padding: 2px 18px;
    border-radius: 4px;
}

nav ul li a:hover {
    background: rgb(211, 202, 202);
    color: rgb(33, 33, 230);
}

/* Cuerpo */
#cuerpo {
    clear: both;
    padding-top: 30px;
}

#cuerpo section {
    width: 800px;
    float: left;
}

/* Estilos para la imagen con un boton todo dentro de un div */
.imagen-boton {
    display: inline-block;
    position: relative;
    padding-bottom: 40px;
}

.imagen-boton a {
    position: absolute;
    bottom: 4em;
    right: 4em;
    background-color: #8F0005;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* Estilos para las cajas dentro de un article */
article {
    /*Esto es para alinear las cajas ya que son texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    padding-bottom: 30px;
}

.caja {
    background: rgb(238, 238, 238);
    color: #333;
    border: 1px solid #333;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px;
    width: 24%;
    box-sizing: border-box;
    display: inline-block;
}

.precio {
    font-size: 50px;
    color: lightseagreen;
}

.btn-comprar {
    background: rgb(122, 122, 248);
    display: block;
    padding: 10px;
    color: seashell;
    text-decoration: none;
    border-radius: 4px;
}

.btn-comprar:hover {
    background: salmon;
}

/* Estilos para el aside */
#cuerpo aside {
    width: 360px;
    height: 320px;
    float: left;
    padding-top: 30px;
    margin-left: 30px;
    background: #0032a0;
    text-align: center;
}

#cuerpo aside p {
    justify-content: center;
    font-family: 'robotoblack', sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 12px;
}


/* Publicidad del aside */
#cuerpo aside a {
    justify-content: center;
    font-family: 'robotoblack', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;

    padding: 6px;
    border: white 2px solid;

}

#cuerpo aside a:hover {
    background: white;
    color: rgb(43, 43, 250);
}

/* Footer */
footer {
    clear: both;
    border-top: 8px;
    border-top-style: solid;
    border-color: rgb(220, 218, 226);
    background-color: rgb(64, 64, 64);
    padding-top: 30px;
    padding-bottom: 10px;
}

footer div {
    display: inline-block;
    opacity: 0.7;
}

footer div a img {
    width: 50px;
    padding: 0 90px;
}

footer div:hover {
    opacity: 1;
}

#footer-leyenda {
    font-style: normal;
    font-weight: normal;
    color: #666;
    padding: 8px 0 0 0;
}


/* FORMULARIO */

/* Un formulario simple */
.form-group div {
    margin: 4px;
}

.form-group div label {
    width: 145px;
    float: left;
    background: rgba(236, 235, 235, 0.884);
    padding: 2px;
    border-radius: 3px;
}

fieldset {
    width: 340px;
    height: 300px;
}

.entrada {
    border-radius: 3px;
    color: solid;
}

/* Esto es para el degradado de botones */
.boton {
    background: -webkit-linear-gradient(gray, white);
    background: -moz-linear-gradient(gray, white);
    background: -o-linear-gradient(gray, white);
}



/* SLIDER */


/*Estilos para el slider, lista de imagenes */
.slider {
    width: 58%;
    margin: auto;

    /* Con esto se ocultan las imagenes que estan fuera del slider */
    overflow: hidden;
}

/* Con esto se quita el padding por defecto de una lista desordenada */
.slider ul {
    padding: 0;
    /* Con display flex se colocaran las imagenes una al lado de la otra */
    display: flex;
    /* Con width 400% se indica que va a ocupar un 400% de pantalla, porque al ser 4 imagenes esto es correcto */
    width: 400%;

    /* Con esto especificamos que la animacion durara 20s y se repetira infinitamente */
    animation: cambio 20s infinite;

    /* Y esto es para que al final de la animacion no pase a la primer imagen sino vuelva a la 3, 2, 1 y de la 1 a la 2, 3 , 4  y asi */
    animation-direction: alternate;
    

}

.slider img {
    width: 100%;
}

/* Con esto se quita los puntos que vienen en cada item de la lista desordenada */
.slider li {
    list-style: none;
}




/* Estilos para la leyenda al final de la página */
#leyenda-empresa {
    text-align: center;
}

/* Aca vamos a darle vida a nuestra animacíon */
@keyframes cambio {
/*Recuerdo que le di un 400% de ancho a la imagen */

    0% { margin-left: 0% ;} /* al 0% o 0 segundos de los 20s de cambio */
    20% { margin-left: 0% ; }/* Con esto l primer imagen durara 4 segundos*/

    25% { margin-left: -100% ;} /* Con este se genera el desplazamiento de la primer imagen a la segunda */ 
    45% { margin-left: -100% ;}


    50% { margin-left: -200% ;} /* Con este se genera el desplazamiento de la imagen 2 a la 3 */ 
    70% { margin-left: -200% ;}

    75% { margin-left: -300% ;} /* Con este se genera el desplazamiento de la imagen 3 a la 4 */ 
    100% { margin-left: -300% ;}

}