div {
    margin: 4px;
}

div label {
    width: 145px;
    float: left;
    background: rgba(236, 235, 235, 0.884);
    padding: 2px;
    border-radius: 3px;
}

fieldset {
    width: 340px;
}

.entrada {
    border-radius: 3px;
    color: solid;
}

/* Esto es para el degradado de botones */
.boton {
    background: -webkit-linear-gradient(gray, white);
    background: -moz-linear-gradient(gray, white);
    background: -o-linear-gradient(gray, white);
}